<template>
  <div class="tagahead__suggestion" :class="_class">
    <span class="tagahead__suggestion__text">{{tag.text}}</span>
    <span v-if="tag.type" class="tagahead__suggestion__type">{{tag.type}}</span>
  </div>
</template>

<script>
export default {
  name: 'Suggestion',
  props: ['tag', 'index', 'store'],
  computed: {
    _class() {
      let active = this.$store.state[`${this.store}/activeSuggestion`]
      let isActive = this.index === active
      return isActive ? 'tagahead__suggestion--active'  : ''
    }
  }
}
</script>

<style>
.tagahead__suggestion {

}

.tagahead__suggestion--active {

}

.tagahead__suggestion__text {

}

.tagahead__suggestion__type {

}


</style>
