<template>
  <div class="tagahead__tag" :class="_class">
    <span   class="tagahead__tag__text">{{tag.text}}</span>
    <span   class="tagahead__tag__type" v-if="tag.type" >{{tag.type}}</span>
    <button class="tagahead__tag__remove" @click="remove">&times;</button>
  </div>
</template>

<script>
export default {
  name: 'Tag',
  props: ['tag', 'index', 'store'],
  computed: {
    _class() {
      return this.tag.type ? `tagahead__tag--${this.tag.type}` : ''
    }
  },
  methods: {
    remove() {
      this.$emit('tagahead:tag:remove', this.tag, this.index)
      this.$store.dispatch(`${this.store}/removeTag`, this.tag)
    }
  }
}
</script>

<style >
.tagahead__tag {

}

.tagahead__tag__text {

}

.tagahead__tag__type {

}

.tagahead__tag__remove {

}

</style>
