<template>
  <div class="tagahead__wrapper">

    <div class="tagahead__loading-status" v-if="isLoading">
      {{isLoading}}
    </div>

    <div class="tagahead__tags" @click="focus" >
      <Tag
        v-for="(tag, index) in tagged"
        :key="tag.id"
        :tag="tag"
        :index="index"
      />
      <Typeahead ref="input"/>
    </div>

    <div v-if="suggestions.length" class="tagahead__suggestions">
      <Suggestion
        v-for="(suggestion, index) in suggestions"
        :key="suggestion.id"
        :tag="suggestion"
        :index="index"
        @click.native="tag(suggestion)"
      />
    </div>
  </div>
</template>

<script>

import Tag from './Tag.vue';
import Typeahead from './Typeahead.vue';
import Suggestion from './Suggestion.vue';
import VuexModule from '../store/module.js';

export default {
  name: 'Tagahead',
  components: {Tag, Typeahead, Suggestion},
  props: ['local', 'store', 'remote', 'textToTag', 'textFromTag', 'textFromToken'],

  methods: {
    focus() {
      this.$refs.input.$el.focus()
    }
  },
  computed: {
    $ns() {
      if (!this.store) return 'tagahead'
      return this.store
    },
    isLoading() {
      return this.$store.state[`${this.$ns}/isLoading`]
    },
    suggestions() {
      return this.$store.state[`${this.$ns}/suggestions`]
    },
    tagged() {
      return this.$store.state[`${this.$ns}/tagged`]
    },

  },
  created() {
    // dynamically register store
    this.$store.registerModule(this.$ns, VuexModule)

    // pass in core functions
    if (this.textToTag) this.$store.dispatch(`${this.$ns}/updateTextToTag`, this.toTag)
    if (this.textFromToken) this.$store.dispatch(`${this.$ns}/updateTextFromToken`, this.fromToken)

    // pass in data
    if (this.remote) {
      this.$store.dispatch(`${this.$ns}/fetchData`, this.remote)
    } else {
      this.$store.dispatch(`${this.$ns}/fetchData`, this.local)
    }

  }

}
</script>

<style>
:root {
  --tagahead-primary-color:   #35495e;
  --tagahead-secondary-color: #41b883;
  --tagahead-tertiary-color:  #ffffff;
}

.tagahead__tags {
  text-align: justify;
  border: solid 1px var(--tagahead-primary-color);
  padding: 5px;
  border-radius: 10px;
}

.tagahead__tag {
  display: inline-flex;
  padding: 5px 10px;
  background-color: var(--tagahead-secondary-color);
  color: var(--tagahead-primary-color);
  margin: 5px;
  border-radius: 5000px;
}

.tagahead__tag__remove {
  padding: 0px;
  background-color: transparent;
  color: var(--tagahead-primary-color);
  margin: 0px 0px 0px 5px;

  border: 0;
  font-size: 1rem;
  font-weight: 800;
}

.tagahead__suggestions {
  border: solid 0.5px var(--tagahead-primary-color);
  margin: 5px;
}

.tagahead__suggestion {
  text-align: justify;
  padding: 5px 10px;
  border: solid 0.5px var(--tagahead-primary-color);
  color: var(--tagahead-secondary-color);
}

.tagahead__suggestion--active {
  background-color: var(--tagahead-secondary-color);
  color: var(--tagahead-tertiary-color)
}

.tagahead__input {
  padding: 5px 0px;
  overflow: auto;
  background-color: transparent;
  border: solid 1px transparent;
  margin: 5px;
  box-shadow: none;
  outline: none;
}


</style>
