<template>
  <input
    class="tagahead__input"
    type="text"
    v-model="input"
    @input="search"
    @keydown.enter="confirm"
    @keydown.down.prevent="incrementActiveSuggestion(1)"
    @keydown.up.prevent="incrementActiveSuggestion(-1)"
    @keydown.delete="remove"
    :size="Math.max(1, input.length)"
  >
</template>

<script>
export default {
  name: 'Typeahead',
  props: ['store'],
  computed: {
    input: {
      get () {
        return this.$store.state[`${this.store}`].input
      },
      set (value) {
        this.$store.dispatch(`${this.store}/update`, {vn: 'input', val: value})
      }
    }
  },
  methods: {
    search(event) {
      this.$store.dispatch(`${this.store}/search`, this.input)
    },
    tag(tag) {
      this.$store.dispatch(`${this.store}/addTag`, tag)
    },
    confirm() {
      this.$store.dispatch(`${this.store}/confirmSuggestion`)
      this.input = ''
    },
    incrementActiveSuggestion(value) {
      this.$store.dispatch(`${this.store}/incrementActiveSuggestion`, value)
    },
    remove() {
      if (this.input !== '') return
      this.$store.dispatch(`${this.store}/deleteTag`, -1)
    }
  }
}
</script>

<style>
.tagahead__input {

}
</style>
